@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Rubik';
}

.navbar {
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    padding: 44px 0;
    z-index: 9999;
}

.container {
    max-width: 1232px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.input-1 {
    padding: 12px 352px 12px 16px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    outline: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
}

.logo-1 {
    position: absolute;
    left: 670px;
}

.select {
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #1C3554;
    outline: none;
}

.item__link {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 32px;
    color: #1C3554;
}

.btn {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 32px;
    color: #1C3554;
    padding: 8px 32px;
    border: 1px solid #1C3554;
    border-radius: 8px;
    transition: all 1s ease;
}

.btn:hover {
    background: #F72585;
    color: #FFFFFF;
    transition: all 2s ease;
    border: none;
}

.btn-1 {
    background: #F72585;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    border: none;
    padding: 8px 32px;
    border: 1px solid transparent;
    transition: all 1s ease;
}

.btn-1:hover {
    background: #FFFFFF;
    border: 1px solid #1C3554;
    transition: all 2s ease;
    color: #1C3554;
}

.content-site {
    padding-top: 88px;
    position: relative;
    top: 120px;
    background: #021934;
    border-radius: 8px;
}

.n1-site {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site__title {
    max-width: 610px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    color: #FFFFFF;
}

.site__text {
    max-width: 647px;
    margin-top: 24px;
    margin-bottom: 66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}

.input-2 {
    width: 610px;
    padding: 24px 264px 24px 56px;
    background: #FFFFFF;
    border-radius: 8px;
    outline: none;
}

.site__btn {
    position: absolute;
    left: 625px;
    bottom: 225px;
}

.logo-4 {
    position: absolute;
    bottom: 240px;
    left: 172px;
}

.site__list {
    display: flex;
    margin-top: 50px;
    padding-bottom: 90px;
}

.site__list_item {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.item-1 {
    margin-right: 0;
}

.item__leni {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}

.logo-5 {
    margin-right: 10px;
}

.header-img {
    position: relative;
    top: 65px;
    padding-bottom: 58px;
}

.logo-7 {
    position: absolute;
    top: 47px;
    left: 71px;
}

.logo-8 {
    position: absolute;
    top: 292px;
    left: 442px;
}

.logo-9 {
    position: absolute;
    top: 375px;
    left: 71px;
}

.logo-10 {
    position: absolute;
    top: 518px;
    left: 318px;
}

.site-trideng {
    position: relative;
    top: 172px;
}

.site-trideng__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #1C3554;
}

.site-trideng__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 64px;
}

.site-trideng__list__item {
    margin-bottom: 32px;
}

.trideng__link {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 32px;
    color: #AAAAAA;
    transition: all 1s ease;
    border: 1px solid transparent;
    padding: 10px 70px;
}

.trideng__link:hover {
    border: 1px solid transparent;
    background: #F72585;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 10px 70px;
    transition: all 1s ease;
}

.item {
    position: relative;
}

.item ul {
    display: none;
}

.item:hover ul {
    display: block;
    background-color: #333;
}

.item__list {
    background-color: #fff;
}

.item ul li a {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 32px;
    color: rgb(44, 255, 255);
}

.item__list__item1 {
    position: absolute;
    top: 25px;
    left: 50px;
    z-index: 1;
}

.item__list__item2 {
    position: absolute;
    top: 45px;
    left: 50px;
    z-index: 1;
}

.item__list__item3 {
    position: absolute;
    top: 65px;
    left: 50px;
    z-index: 1;
}

.item__list__item4 {
    position: absolute;
    top: 85px;
    left: 50px;
    z-index: 1;
}

.with__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.with__btn {
    background: #4586D6;
    border-radius: 8px;
    font-family: 'Montserrat';
    border: none;
    font-size: 12px;
    line-height: 24px;
    padding: 4px 24px;
    color: #FFFFFF;
    position: absolute;
    top: 187px;
    left: 85px;
}

.with__btn1 {
    position: absolute;
    top: 187px;
    left: 398px;
}

.with__btn2 {
    position: absolute;
    top: 187px;
    left: 710px;
}

.with__btn3 {
    position: absolute;
    top: 187px;
    left: 1015px;
}

.with__text {
    max-width: 262px;
    margin-top: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #1C3554;
    margin-bottom: 8px;
}

.with__leni {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 24px;
    color: #F72585;
    margin-bottom: 8px;
    display: block;
}

.logo2 {}

.with__leni1 {
    font-family: 'Montserrat SemiBold';
    font-size: 14px;
    line-height: 24px;
    color: #808080;
}

.with__img {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.with__leni2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1C3554;
}

.content {
    margin-top: 24px;
    margin-bottom: 56px;
}

.btn5 {
    display: block;
    background: #F72585;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 32px;
    padding: 14px 87px;
    color: #fff;
    text-align: center;
    color: #FFFFFF;
    border: none;
    max-width: 288px;
    margin: 0 auto;
    transition: all 2s ease;
    border: 1px solid transparent;
    margin-bottom: 160px;
}

.btn5:hover {
    background: #fff;
    color: #F72585;
    transition: all 2s ease;
    border: none;
    border: 1px solid #F72585;
}

.top-site__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    padding-top: 160px;
    padding-bottom: 56px;
    color: #1C3554;
}

.top-site__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 160px;
}

.list__item {
    background-image: url(../imges/Overlay.png);
    background-repeat: no-repeat;
    width: 296px;
    height: 350px;
    padding-top: 278px;
    padding-left: 88px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.follow-site {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
}

.follow__img {
    display: block;
    padding-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow__leni {
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-transform: capitalize;
    color: #1C3554;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow__leni1 {
    max-width: 91pzx;
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #1C3554;
}

.leni11 {
    max-width: 180px;
}

.leni22 {
    max-width: 157px;
}

.leni33 {
    max-width: 109px;
}

.po-rela {
    position: relative;
}

.po-rela__img {
    position: absolute;
    right: 50px;
}